#game {
    margin: 50px auto;
    background-color: pink;
    display: grid;
}

.slot {
    /*display: block;*/
    width: 20px;
    height: 20px;
    background-color: rgb(148, 144, 144);
    border: 1px solid black;
    text-align: center;
}

header {
    height: 100px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 400px;
    padding-right: 400px;
}

#new {
    align-self: center;
}

.cnt {
    align-self: center;
    border: solid black 1px;
}

