body {
    background-attachment: fixed;
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat; 
    /* empêcher sélection texte dans slots */ 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

}

#game {
    width: 1200px;
    height: 800px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.9;

}

.H {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    background-image: radial-gradient(circle at center, rgb(187, 178, 178) 35%, grey);
    color: rgba(0, 0, 0, 0);
}

.S {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(61, 61, 61);;
    border-radius: 10px;
    background-image: radial-gradient(circle at center, rgb(94, 87, 87) 35%, rgb(90, 82, 82));
    text-align: center;    
    font-weight: bold;
    font-size: 30px;
}

.F {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    background-image: radial-gradient(circle at center, red 5%, grey );
    color: rgba(0, 0, 0, 0);
}

.Q {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    background-image: radial-gradient(circle at center, orange 5%, grey );
    color: black;
    text-align: center; 
    font-weight: bold;
    font-size: 30px;
}

.X2 {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    background-image: radial-gradient(circle at center, black, red);
    color: rgba(0, 0, 0, 0);
}

nav {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: "cnt btn .";
}

#level { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px; 
}

.btn {
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    grid-area: 'btn';
}

#new {
    align-self: center;
}

.cnt {
    align-self: center;
    text-align: center;
    margin: 0 50px;
    grid-area: 'cnt';
} 

h3 {
    font-size: 30px;
    margin-bottom: 0px;
    background-color: rgb(141, 141, 141);
    align-self: center;
}

.cnt  p {
    font-size: 1.5em;
    font-weight: bold;
    background-color: grey;
    width: 100px;
    border: 1px solid rgb(61, 61, 61);;
    border-radius: 10px;
}