html {
    background-attachment: fixed;
    background-image: url("../img/bg.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    /* empêcher sélection texte dans slots */ 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    margin: 30px;                                    
}

#game {
    width: 1200px;
    height: 800px;
    margin: auto;

    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    opacity: 0.9;
    grid-gap: 3px;
}

.H {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    background-image: radial-gradient(circle at center, rgb(187, 178, 178) 35%, grey);
    text-indent: 100%;
    overflow: hidden;
    visibility: hidden;
}

.animLeft {
    animation: fallLeft 1s ease-in;
    visibility: visible;
}

.animRight {
    animation: fallRight 1s ease-in;
    visibility: visible;
}

.goAway {
    animation: goAway 1s linear;
}

.S {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(61, 61, 61);;
    border-radius: 10px;
    background-image: radial-gradient(circle at center, rgb(110, 100, 100) 35%, rgb(110, 101, 101));
    text-align: center;    
    font-weight: bold;
    font-size: 30px; 
}

.one {
    color: rgb(28, 28, 165);
}

.two {
    color: rgb(13, 85, 13);
}

.three {
    color: rgb(202, 13, 13);
}

.four {
    color: rgb(19, 19, 133);
}

.five {
    color: rgb(128, 8, 8);
}

.six {
    color: rgb(63, 5, 5);
}

.F {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 20px;
    background-image: radial-gradient(circle at center, red 5%, grey );
    color: rgba(0, 0, 0, 0);
    animation: flagged 1s infinite linear;

    
}

.Q {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    background-image: radial-gradient(circle at center, orange 5%, grey );
    color: black;
    text-align: center; 
    font-weight: bold;
    font-size: 30px;
    animation: rotate 1s infinite linear;
}

.X2 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: radial-gradient(circle at center, black, red, transparent 70%);
    color: rgba(0, 0, 0, 0);
}

.X3 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0);
    animation: explode 0.7s infinite linear;
    z-index: 2;;
}

.X4 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: radial-gradient(circle at center, black, yellow, transparent 70%);
    color: rgba(0, 0, 0, 0);
}

nav {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr, 0.5fr, 1fr, 1fr;
    grid-template-areas: "cnt txt btn .";
    margin-top: 50px;
    margin-bottom: 70px;

}

#level { 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 50px; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    grid-area: 'btn';
}

#new {
    align-self: center;
}

.cnt {
    align-self: center;
    text-align: center;
    margin: 0 10px;
    grid-area: 'cnt';
    font-size: 30px;
    color: white;
    font-weight: bold;
} 

.txt {
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    grid-area: 'txt';
}

h3 {
    font-size: 30px;
    margin-bottom: 0px;
    background-color: rgb(141, 141, 141);
    align-self: center;
}

.cnt  p {
    font-size: 1.5em;
    font-weight: bold;
    background-color: grey;
    width: 100px;
    border: 1px solid rgb(61, 61, 61);;
    border-radius: 10px;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0);
    }

    50% {
        transform: rotate3d(1, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes explode {
    0% {
        background-image: radial-gradient(circle at center, red, black, transparent 70%);
        width: 100%;
        height: 100%;
    }

    50% {
        background-image: radial-gradient(circle at center, black, red, transparent 70%);
        width: 200%;
        height: 200%;
    }

    100% {
        background-image: radial-gradient(circle at center, red, black, transparent 70%);
        width: 150%;
        height: 150%;
    }
}

@keyframes fallLeft {
    0% {
        transform: translateY(-300px) translateX(-1000px) rotate(0);
        width: 300%;
        height: 300%;
        box-shadow: 20px 20px 15px yellow;

    }

    25% {
        transform: translateY(-150px) translateX(-500px) rotate(359deg);
        width: 150%;
        height: 150%;
        box-shadow: 15px 15px 15px yellow;

    }

    45% {
        transform: translateY(-30px) translateX(-100px) rotate(648deg);
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 15px orange;

    }

    48% {
        transform: translateY(-15px) translateX(-50px) rotate(684deg);
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 15px rgb(255, 0, 212);

    }

    100% { 
        transform: translateY(0px) translateX(0px) rotate(720deg);
        width: 100%;
        height: 100%;
        box-shadow: none;

    }
}

@keyframes fallRight {
    0% {
        transform: translateY(-300px) translateX(1000px) rotate(0);
        width: 300%;
        height: 300%;
        box-shadow: 20px 20px 15px yellow;

    }

    25% {
        transform: translateY(-150px) translateX(500px) rotate(359deg);
        width: 150%;
        height: 150%;
        box-shadow: 15px 15px 15px rgb(255, 196, 0);

    }

    45% {
        transform: translateY(-30px) translateX(100px) rotate(648deg);
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 15px orange;

    }

    48% {
        transform: translateY(-15px) translateX(50px) rotate(684deg);
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 15px rgb(255, 0, 212);
 
        
    }

    100% { 
        transform: translateY(0px) translateX(0px) rotate(720deg);
        width: 100%;
        height: 100%;
        box-shadow: none;

    }
}

@keyframes flagged {
    0% {
        width: 100%;
        height: 100%;
    }
    
    50% {
        width: 75%;
        height: 75%;
        transform: rotate(180deg);
    }

    100% {
        width: 100%;
        height: 100%;
        transform: rotate(360deg);
    }
}

@keyframes goAway {
    0% {
        transform: translateY(0px) translateX(0px) rotate(0);
        width: 100%;
        height: 100%;
        box-shadow: 20px 20px 15px yellow;
        border-radius: 30px;
    }

    25% {
        transform: translateY(-250px) translateX(-250px) rotate(359deg);
        width: 150%;
        height: 150%;
        box-shadow: 15px 15px 15px yellow;
        border-radius: 30px;
    }

    45% {
        transform: translateY(-450px) translateX(-450px) rotate(648deg);
        width: 190%;
        height: 190%;
        box-shadow: 5px 5px 15px orange;
        border-radius: 30px;
    }

    48% {
        transform: translateY(-480px) translateX(-480px) rotate(684deg);
        width: 196%;
        height: 196%;
        box-shadow: 1px 1px 15px rgb(255, 0, 212);
        border-radius: 30px
    }

    100% { 
        transform: translateY(-1000px) translateX(-1000px) rotate(720deg);
        width: 300%;
        height: 300%;
        box-shadow: none;
        border-radius: 30px;
        visibility: hidden;
    }
}

.hidden {
    visibility: hide;
    font-display: none;
}